.main
  font-size: 1.6em


.points
  text-align: right


.skill-dot
  font-size: 1.8em
  margin-right: 5px


.row
  margin-bottom: 10px


@media (min-width: 768px)
  .main
    font-size: 0.7em

  .skill-dot
    font-size: 0.8em
    margin-right: 3px



@media (min-width: 992px)
  .main
    font-size: 1.1em

  .skill-dot
    font-size: 1.4em
    margin-right: 2px



@media print
  .main
    font-size: 1.0em

  .skill-dot
    font-size: 1.2em
    margin-right: 3px

  .points
    width: 50% !important

