<div class="col-12 subtitle">
    <i class="fa fa-briefcase fa-lg" aria-hidden="true"></i> Experiência Profissional
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="topic destaque">Analista e Desenvolvedor de Sistemas Senior</div>
  </div>
  <div class="col-12 destaque">
    <div class="row">
      <div class="col-6">
        Tokio Marine Seguradora
      </div>
      <div class="col-6 text-right">
        <i class="fa fa-calendar fa-lg"></i> Nov 2018 - Atual
      </div>
    </div>
  </div>
  <div class="col-12">
    <p class="information">Desenvolvimento e manutenção de sistemas de cotação e contratação de seguros.</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="topic destaque">Analista e Desenvolvedor de Sistemas Pleno</div>
  </div>
  <div class="col-12 destaque">
    <div class="row">
      <div class="col-6">
        Resource IT - Alocação fixa na Tokio Marine Seguradora
      </div>
      <div class="col-6 text-right">
        <i class="fa fa-calendar fa-lg"></i> Mar 2017 - Nov 2018
      </div>
    </div>
  </div>
  <div class="col-12">
    <p class="information">Desenvolvimento e manutenção de sistemas de cotação e contratação de seguros.</p>
  </div>
</div>
