<div class="container page">
  <header>
    <h1 class="text-center title">Alan Henrique Almeida da Costa</h1>
    <div class="text-center">Desenvolvedor Fullstack</div>
  </header>
  <hr>
  <div class="container margin">
    <app-info></app-info>
    <hr>
    <div class="row">
      <app-abilities class="col-xs-12 col-md-4"></app-abilities>
      <div class="col-xs-12 col-md-8">
        <app-expirience></app-expirience>
        <app-academy></app-academy>
      </div>
    </div>
  </div>
  <footer class="information text-right">Junho de 2019</footer>
</div>
