<div class="col-12">
  <div class="subtitle">
    <fa-icon [icon]="experiences.icon"></fa-icon> <span>{{experiences.title}}</span>
  </div>
</div>
<br/>
<div class="row exp" *ngFor="let exp of experiences.registries">
  <div class="col-12 text-end">
    <div class="topic destaque">{{ exp.role }}</div>
  </div>
  <div class="col-12 destaque text-end">
    {{ exp.company }} - {{ exp.period }}
  </div>
  <div class="col-12" *ngIf="exp.information && exp.information.length > 0">
    <ul>
      <li *ngFor="let inf of exp.information" class="information">{{ inf }}</li>
    </ul>
  </div>
</div>
