@import "~bootstrap/scss/bootstrap"

@import url("https://fonts.googleapis.com/css?family=Exo+2&display=swap")

body
  background-color: darkgrey
  font-family: "Exo 2", sans-serif

.main
  font-size: 1.6em

.page
  margin-top: 20px
  margin-bottom: 20px
  padding-top: 20px
  padding-bottom: 20px
  background-color: white
  border: 1em
  border-color: black
  box-shadow: 0 1px 5px rgb(130, 130, 130)

hr
  margin: 20px auto
  color: #363636

.subtitle
  border-bottom: 2px solid transparent
  border-radius: 4px
  border-color: #ddd
  text-align: left

.subtitle span
  font-size: 1.8em
  padding-left: 30px

.subtitle fa-icon
  font-size: 2em

.topic
  margin: auto
  font-size: 1.4em
  margin-left: 5px

.information
  padding-left: 10px
  font-size: 1.1em

@media (min-width: 768px)
  .main
    font-size: 0.7em
  .subtitle span
    font-size: 1.2em
    padding-left: 10px
  .subtitle fa-icon
    font-size: 1.2em

@media (min-width: 992px)
  .main
    font-size: 1.1em
  .subtitle span
    font-size: 1.2em
    padding-left: 30px
  .subtitle fa-icon
    font-size: 1.6em

@media (min-width: 1200px)
  .information
    font-size: 1.1em
  .subtitle
    font-size: 1.6em
  .topic
    font-size: 1.5em

@media print
  body
    -webkit-print-color-adjust: exact
  .page
    margin-top: 0
    margin-bottom: 0
    padding-top: 0
    padding-bottom: 0
  a
    color: black
    text-decoration: none !important
  .main
    font-size: 1.0em
  .subtitle span
    font-size: 1.8em
    padding-left: 30px
  .subtitle svg
    font-size: 2em
