<div class="col-12 subtitle">
  <i class="fas fa-graduation-cap fa-lg"></i> Formação
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="topic destaque">MBA - Desenvolvimento de Aplicações Java SOA e IOT</div>
  </div>
  <div class="col-12 destaque">
    <div class="row">
      <div class="col-6">
        FIAP - Aclimação
      </div>
      <div class="col-6 text-right">
        <i class="fa fa-calendar fa-lg"></i> Set 2015 - Set 2016
      </div>
    </div>
  </div>
  <div class="col-12">
    <p class="information">Aspectos de desenvolvimento de software JAVA (usando SOA e Internet das Coisas) com
      o objetivo de aumentar a
      performance das empresas e oferecer novos produtos competitivos que gerem valor, tanto para seu próprio
      crescimento
      profissional como para incrementar os resultados da sua empresa.</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="topic destaque">Bacharel - TI para Administração de Empresas</div>
  </div>
  <div class="col-12 destaque">
    <div class="row">
      <div class="col-6">
        FATEC - São Bernardo do Campo
      </div>
      <div class="col-6 text-right">
        <i class="fa fa-calendar fa-lg"></i> Jul 2011 - Jun 2013
      </div>
    </div>
  </div>
  <div class="col-12">
    <p class="information">Administração e TI, contemplando disciplinas para a gestão de empresas e para
      desenvolvimento de software.</p>
  </div>
</div>
