<div class="row align-items-center">
  <div class="col-xs-12 col-md-4 col-lg-3 text-center">
    <img src="assets/contact.png" class="qr-code-contact">
  </div>
  <div class="col-xs-12 col-md-8 col-lg-6">
    <div class="col-12 main text-center"> Criação de aplicações web usando principalmente backend Java com Spring e
      frontend Angular com Bootstrap ou MaterializeCSS. </div>
  </div>
  <div class="col-md-12 col-lg-3 detail">
    <div class="row">
      <div class="col-12">
        <i class="fas fa-birthday-cake fa-lg text-left"></i> 22 de Setembro de 1990
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <i class="fab fa-whatsapp fa-lg text-left"></i>
        <a href="https://web.whatsapp.com/send?phone=5511973612756" target="_blank"> +55 (11) 97361-2756 </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <i class="fas fa-envelope fa-lg text-left"></i>
        <a href="mailto:alan_hac@outlook.com" target="_blank"> alan_hac@outlook.com </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <i class="fab fa-linkedin fa-lg text-left"></i>
        <a href="https://linkedin.com/in/alanhac" target="_blank"> linkedin.com/in/alanhac </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <i class="fab fa-github fa-lg text-left"></i>
        <a href="https://github.com/alan-hac" target="_blank"> github.com/alan-hac </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <i class="fas fa-map-marker-alt fa-lg text-left"></i>
        <a href="https://goo.gl/maps/Mc1MMXtDbCrCtfMW6" target="_blank"> S. Bernardo do Campo, SP</a>
      </div>
    </div>
  </div>
</div>
