<div class="row align-items-center">
  <div class="d-none d-sm-block col-sm-6 col-md-3 col-lg-3 text-center">
    <img src="assets/contact.png" class="qr-code-contact">
  </div>
  <div class="d-none d-md-block col-md-6">
    <div class="main text-center">{{objective}}</div>
    <div class="col-12 text-center">{{sub}}</div>
    <br>
  </div>
  <div class="col-sm-6 col-md-3 detail">
    <div class="row">
      <div class="col-12" *ngFor="let info of infos">
        <i [class]="info.icon"></i>
        <a [href]="info.url" target="_blank" *ngIf="info.url"> {{info.text}} </a>
        <span *ngIf="!info.url"> {{info.text}}</span> 
      </div>
    </div>
  </div>
  <div class="d-block d-md-none col-sm-12">
    <br>
    <div class="main text-center"> {{objective}}</div>
    <div class="col-12 text-center"> {{sub}}</div>
  </div>
</div>
<hr>
